*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

  body {
    background: #121212;
  }
  
  .header {
    width: auto;
    height: 56px;
    border: 0px solid;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    background:#121212;
    border-bottom: 1px solid #322E3A;
  }
  
  .header .navbar a {
    margin: 0 20px;
    color: #f8f8ff;
  }
  .logo {
    display: block;
  }
  
  .menu-icon {
    display: none;
  }
  
  .menu-icon.active {
    transform: rotate(45deg);
  }
  
  .menu-icon.active:before,
  .menu-icon.active:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .menu-icon:before,
  .menu-icon:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: top 0.3s, transform 0.3s;
  }
  
  .menu-icon:before {
    top: -8px;
  }
  
  .menu-icon:after {
    bottom: -8px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    column-gap: 61px;
  }

  .navbar a:hover {
    color: #6D75F1;
  }
  
  .navbar .solution {
    cursor: pointer;
    position: relative;
  }
  
  .navbar .solution .dropdown-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    margin-left: 4px;
    
  }
  
  
  .navbar .solution .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #121212;
    color: #f8f8ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .navbar .solution.open .dropdown-menu {
    display: block;
  }

  .solution {
    cursor: pointer;
  }
  .dropdown-icon {
    transition: transform 0.3s ease;
   
  }
  
  .dropdown-icon:hover {
    color: #5C2EED;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(255deg);
    
}
  .solution,
  .Academy,
  .Resources{
    background-color: #121212;
    color: #f8f8ff;
    padding: 1rem;
    font-size: 16px;
    outline: none;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
  }

  .solution:hover,
  .Academy:hover,
  .Resources:hover {
    color: #5C2EED;
  }

  .logsign {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
  }





  .free-consultation {
    background-color: #5C2EED;
    color: #f8f8ff;
    border: none;
    width: 184px;
    height: 40px;
    /* padding: 8px 24px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .free-consultation:hover {
    background-color: #C2A2FA;
  }
  
  .solution-button {
    display: none;
    font-family: 'Poppins', sans-serif; 
  }
  
  .solution.open .dropdown-icon {
    transform: rotate(180deg);
  }
  
  .solution-container {
    position: relative;
    display: none;
    justify-content: center;
    left: 100px;
  }
  
  .solution-list {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #f8f8ff;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 80%;
    border-radius: 1rem;
    margin-top: 1rem;
    position: fixed;
  }
  
  .list-title {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 16px;
    list-style-type: none;
    font-family: 'Noto sans', sans-serif;
  }
  
  li {
    font-size: 12px;
    padding: 4px;
    list-style-type: none;
  }
  
  
  
  
  
  @media (max-width: 888px) {
    body {
      overflow: hidden;
    }
    .icon {
      font-size: 24px ; /* Adjust the font size as needed */
      color: white ;    /* Set the color to white or any other desired color */
    }
    
    .icon.active {
      font-size: 24px ; /* Adjust the font size as needed */
      color: white ;    /* Set the color to white or any other desired color */
    }
    
    .header {
      padding: 1rem 1.5rem;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
      padding: 10px;
      color: #f8f8ff;
      order: 2;
      position: fixed;
      top: 4px;
      right: 15px;
      z-index: 1000;
      border: 0;
     
    }
    .menu-icon.active {
      color: #f8f8ff;
  }
    .navbar {
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 55px;
      right: 0;
      z-index: 100;
      background-color: #121212;
      display: none;
      transition: all 0.3s ease-in;
    }
  
    .navbar.active {
      display: flex;
      width: 30%;
      justify-content: space-between;
      padding-bottom: 5rem;
      height:100%;
    }
  
    .navbar a {
      font-size: 1rem;
      background-color: #f8f8f8;
      padding: 1rem;
      color: #121212;
      display: block;
      width: 100%;
      text-align: center;
    }
  
    .navbar .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1.5rem;
    }

     .back{
          font-size: 12px;
          background-color: #f8f8ff;
          border: 0;
          padding: 15px 0px 15px 15px;
         
     }
     .back:hover{
      color:  #5C2EED;
     }

    .buttons {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      justify-items: flex-start;
    }
  
    .solution,
    .Academy,
    .Resources{
      background-color: #121212;
      color: #f8f8ff;
      padding: 1rem 2rem;
      font-size: 16px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-family: 'Noto Sans', sans-serif;
    }
    
    .solution:hover,
    .Academy:hover,
    .Resources:hover {
      color: #121212;
      background-color: #C2A2FA;
    }
    .free-consultation {
      background-color: #5C2EED;
      color: #fff;
      border: none;
      padding: 8px 24px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 12px;
      font-size: 16px;
      font-family: 'Noto Sans', sans-serif;
    }
  
    .free-consultation :hover {
      background-color: #6d75f1;
    }
  
    .solution-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      top: 52px;
      right: 0;
      width: 30%;
      background-color: #121212;
      padding: 0px 0px 0px 8px;
      margin: 0;
      height: 100%;
      font-family: 'Noto Sans', sans-serif;
    }
  
    .solution-item {
      padding-left: 15px;
      padding-bottom: 15px;
    }
  
   .list-title{
    font-size: 16px;
   }
    li {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      padding: 4px 0px;
    }
  
    ul>li {
      margin: 0px;
    }
  
    .solution-button {
      display: flex;
    }
  
    .solution {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar .solution .dropdown-icon {
      height: 8px;
      width: 8px;
      transform: rotate(-90deg);
    }
  
    .logsign {
      flex-direction: column;
      font-family: 'Noto Sans', sans-serif;
    }
  
    .invisble {
      visibility: hidden;
    }
  
    body.active {
      overflow: hidden;
    }
  }

  /* ----------------------------------------------------hero-section--------------------------------------------- */
  .hero-section {
    display: flex;
    justify-content: center;
    margin: 72px 0px;
    
  }
  .hero-content {
    max-width: max-content;
    min-width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    min-width: auto;
    margin: 0px 12px;
  }
  
  .hero-content h1 {
    font-size: 56px;
    color: #f8f8ff;
    font-family: 'Noto Sans', sans-serif;
    max-width: 600px;
  }
  
  .hero-button {
    background-color: #5C2EED;
    color: #fff;
    padding: 1rem 1rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 192px;
    min-width: auto;
    font-family: 'Noto Sans', sans-serif;
    ;
  }
  
  .hero-button:hover {
    background: #C2A2FA;
  }
  
  
  
  .hero-content img {
    max-width: 1108px;
    min-width: auto;
    margin-top: 10px;
    border-radius: 8px;
    min-width: auto;
  }
    
    
  /* ----------------------------------------------Hero-Section mobile-------------------------------------------------------------- */
  
  @media(max-width: 600px)
  {
    
    .hero-content {
      max-width: 90vw;
     text-align: left;
     margin-left: auto;
    }
  
    .hero-content h1 {
      text-align: left;
      font-size: 24px;
      
    }
  
    .hero-button {
      padding: 0.6rem 1.2rem; 
      font-size: 14px;
      margin-bottom: 15px; 
    }
  
    .hero-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
   
    .hero-content img {
      
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    body {
      overflow-y: scroll; 
    }
  }
  
  @media only screen and (min-width:601px) and (max-width: 1024px)
  {
  
    
    .hero-content img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .hero-content {
      max-width: 90vw;
     text-align: left;
     margin-left: auto;
  
    }
    body {
      overflow-y: scroll; 
    }
  }
  
  @media only screen and (min-width:888px) and (max-width: 1200px){
  
    .hero-content img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
  }
  .hero-content {
    max-width: 90vw;
   text-align: left;
   margin-left: auto;
  }
  body {
    overflow-y: scroll; 
  } 
  }
  /* ----------------------------------------------Section-2------------------------------------------------------------- */


/* .trusted-partners {
  background-color: #242425;
  padding: 48px;
  text-align: center;
  margin: 48px 0px;
}

.trusted-partners h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #f8f8ff;
}
.partners-containers {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.partner {
  flex: 0 0 auto;
  padding: 16px 32px;
}

.partner img {
  max-width: 100%;
  height: auto;
  
}
 */

 .trusted-partners {
  background-color: #242425;
  padding: 48px;
  text-align: center;
  margin: 48px 0px;
  overflow: hidden;
  position: relative;
}

.trusted-partners h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #f8f8ff;
}

.partners-containers {
  display: flex;
  overflow: hidden;
  padding-top: 24px;
  white-space: nowrap;
}

.partners-containers:hover .partner{
  animation-play-state:paused;
}
.partner {
  /* flex: 0 0 auto;
  padding: 16px 32px; */
  display: inline-block;
  animation: 25s slide infinite linear;
}

.partner img {
  /* max-width: 100%;
  height: auto; */
  margin: 0px 40px;
}


@keyframes slide {
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-100%);
  }
}




/* ----------------------------------------------section-2-------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .trusted-partners {
    padding: 20px;
  }

  .trusted-partners h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner {
    width: 100%;
    margin-bottom: 20px;
  }

  .partner img {
    border-radius: 8px;
    max-width: 100%;
  }

  .partner p {
    font-size: 14px;
    margin-top: 5px;
  }
}


/* ---------------------------------------------------section-3----------------------------------------------------- */

#build-with-trafy{
  display: flex;
  justify-content: center;
  margin:48px 0px;
}

.build{
  width: 1188px;
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
  padding: 0px 16px 3rem 16px;
  }

  .build-heading h1{
    font-size: 32px;
    padding: 12px 0px;
    color: #f8f8ff;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
  }
  .build-heading p{
    font-size: 16px;
    color: #f8f8ff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

.build-topic{
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 3px;
  border-radius: 40px;
  border: 2px solid #f8f8ff;
  background-color: #121212;
}
  .build-topic button{
  width: 128px;
  background-color: #f8f8ff;
  padding:8px 40px;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #121212;
  border-radius: 32px;
  border:0px;
  }

.build-website, .build-mobile{
  display: grid;
  width:90%;
  grid-template-columns: repeat(2,minmax(auto,auto));
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding:16px;
  border:2px solid #D9D9D9;
  gap:3rem;
}

.build-mobile-img,
.build-website-img {
  display: flex;
  justify-content: center;
  max-width: 80%; flex: 1 1 0;
 min-height: auto;
 padding: 8px 0px;
 
}

.build-mobile-img img,
.build-website-img img {
  max-width: 100%; 
}
.build-website-content ,.build-mobile-content {
display: flex;
flex-direction: column;
justify-content: center; 
flex: 1;
}

.build-website-text-content,.build-website-text-content{
  display: flex;
  flex-direction: column;
}
.build-website-content h1,.build-mobile-content h1{
  padding-bottom: 16px;
  font-size: 24px;
  font-family: 'Noto sans', sans-serif;
  color: #f8f8ff;
}
.build-website-content p,.build-mobile-content p{
  padding-bottom: 14px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #f8f8ff;
}
.build-website-content li,.build-mobile-content li{
  padding-left: 0px;
  padding-bottom: 8px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  color: #f8f8ff;
}

.build-button{
  display: flex;
  justify-content: flex-end;
  width: max-content;
  height: max-content;
  margin:16px 0px;
  padding:8px 32px;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #5C2EED;
  color: #f8f8ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}
.build-button:hover {
  background-color: #C2A2FA;
}

/* ---------------------------------------------section-4----------------------------------------------------------- */

.hidden {
  display: none;
}

.addColor{
  background-color: #121212;
  color: #f8f8ff;
  border-radius: 8px;
}

.grow-dashboard-mobile{
  display: none;
}
.email-marketing button{
  background-color: #f8f8ff;
  color: #121212;
  border-radius: 0px;
}
/* .hiddenColorButton{
  background-color: #f8f8ff;
  border: 0px;border-top:2px solid #D9D9D9;
} */
.grow-with-trafy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0px;
}
.grow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:1188px;
  padding: 16px;
}
.grow{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
  gap:3rem;
  padding: 24px;
}
.grow-whole-content{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 2rem;
}

.grow-dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email-marketing{
  padding: 12px 32px;
  background-color: #f8f8ff;
  color: #121212;
  height: max-content;
  font-size: 16px;
  font-family: 'Noto sans', sans-serif;
  border: 0px;
}
.seo,.content-marketing, .sales, .pay-per-click, .social-media-marketing, .inbound-marketing
, .search-engine-marketing{
  padding: 12px 32px;
  color: #f8f8ff;
  height: max-content;
  font-size: 16px;
  font-family: 'Noto sans', sans-serif;
  background-color: #121212;
  border: 0px;border-top:1px solid #D9D9D9;
}
/* .grow-dashboard button:hover{
  color: #121212;
  background-color: #D9D9D9;
} */

.grow-image{
  display: flex;
  justify-content: center;
  align-items: center;
 flex: 1 1 0;
 min-height: auto;
 padding: 8px 0px;
}
.grow-image img{
  max-width: 100%;
}

.grow-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grow-content h1{
  font-size: 24px;
  font-family: 'Noto sans', sans-serif;
  padding-bottom: 16px;
  color: #f8f8ff;
}
.grow-content p{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 14px;
  color: #f8f8ff;
}
.grow-content li{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-left: 0%;
  padding-bottom: 8px;
  color: #f8f8ff;
}
/* -------------------------------------------section-5------------------------------------------------------------- */

.increase-sales{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 24px 0px;
margin: 48px 0px;
background-color: #C8d7f5;
}
 .increase-sales-container{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 8rem; */
  width: 1188px;
  padding: 0px 32px;
}
.increase-sales-container-content{
  max-width: 100%;
  min-width: auto;
  padding-right: 8px;
}

.increase-sales-container-content h1{
  padding: 12px 0px;
  font-size: 24px;
  font-family: 'Noto sans', sans-serif;
  color: #121212;
}
.increase-sales-container-content p{
  padding-top: 4px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #121212;
  line-height: 1.5rem;
}

/* ----------------------------------------------section-6-------------------------------------------------------------- */



.trafy-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 48px 0px;
  overflow: hidden;
}
.trafy-product{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
}
.trafy-heading {
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  padding-bottom: 16px;
}
.product-content
{
  display: flex;
  flex-direction: column;
  width: 1188px;
  overflow-x: hidden;
  padding-bottom: 16px;

}

.product-description p
{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 24px;
  max-width: 64%;
}

.cta-button button
{
 padding: 10px 10px;
 margin-bottom: 24px;
 background-color: #eee
 border-radius 8px;
 font-family: 'Noto Sans', sans-serif;
}
.course-container {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%; 
}

.course-section {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 48px;
  width: 100%;
}

.course-container::-webkit-scrollbar {
  display: none;
}
.course-card {
  flex-shrink: 0;
  width: 300px;
  height: 380px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-height: max-content;
  min-height: auto;
}
.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.course-card img {
  width: 100%;
  height: 188px;
  object-fit: cover;
}

.course-details {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.course-title {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}
.course-ratings {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
.star {
  color: goldenrod; 
  font-size: 16px;
  margin-right: 4px;
}



.course-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.course-button {
  background-color: #5C2EED;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 8px;
}

.course-button:hover {
  background-color: #C2A2FA;
}

/* ----------------------------------------------Product-card tab view-------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
  .product-description p {
    max-width: 100%;
  }
  .trafy-heading
  {
    margin-left: -16px;
  }
  .product-description
  {
    margin-left: -16px;
  }

  .cta-button {
    padding-left: 24px;
  }

  .course-container {
    padding: 0 20px;
  }

  /* .course-card {
    width: 100%;
  } */

  .course-details {
    padding: 16px;
  }

  .course-card {
    width: 48%; 
    margin-right: 4%; 
  }

  .course-container {
    padding: 0 10px;
  }
}

/* ----------------------------------------------Product-card mobile view-------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  .trafy-heading {
    font-size: 20px;
  }

  .product-description p {
    max-width: 100%;
    font-size: 14px;
  }

  .cta-button button {
    padding: 8px 8px;
    /* margin-left: 16px; */
  }

  .course-container {
    padding: 0 10px;
  }

  .course-card {
    /* width: 100%; */
    height: auto;
    margin-bottom: 20px;
    margin-left:24px;
  }

  .course-card img {
    height: 150px;
  }

  .course-details {
    padding: 12px;
  }

  .course-title {
    font-size: 14px;
  }
  .course-section
  {
    margin-left: -16px;
  }

  .course-ratings {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .course-description {
    font-size: 12px;
  }

  .course-button {
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 6px;
  }

  .course-card {
    width: 100%; 
    margin-right: 0; 
  }

}

/* ------------------------------------------------section-7--------------------------------------------------------- */

.expand-with-trafy{
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  margin: 48px 0px;
}
.expand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1188px;
  padding: 16px;
}
.expand{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 32px 48px;
  gap:2rem;
  border-radius: 16px;
  border: 1px solid #C8d7f5;
  background-color: #121212;
}
.expand-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.expand-content h1{
  color: #f8f8ff;
  font-size: 24px;
  font-family: 'Noto sans', sans-serif;
  padding-bottom: 16px;
}
.expand-content p{
  color: #f8f8ff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 8px;
  line-height: 1.5rem;
}
.expand-content li{
  color: #f8f8ff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding:4px 0px;
  
}
.expand-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: auto 0px;
  background-color: #8B5EF3;
  border-radius: 24px;
  height: max-content;
}
.expand-icons-section{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
  gap:1rem;
  max-width: 100%; 
}

/* ----------------------------------------------footer-------------------------------------------------------------- */

.footer{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    background-color: #121212;
    padding: 24px 48px;
    margin-top:48px;
    border-top: 1px solid #322E3A;
    
}

.footer-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img{
  width: 28px;
  height: 28px;
    margin: 4px 16px;
}


.policies{
  display: flex;
  flex-direction: row;
  gap:2rem;
}
.policies a{
  color: #f8f8ff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 4px;
}

.copyright-text{
    color: #f8f8ff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}
@media only screen and (max-width: 600px) {

  body{
    overflow-y: scroll;
  }
/* =======================================section-3===================================== */
.build{
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}
.build-heading h1{
  font-size: 24px;
}
.build-website, .build-mobile {
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:3rem;
 padding: 20px;
}
.build-mobile-img, .build-website-img {
  max-width: 70%;
}

.build-website-content h1,.build-mobile-content h1{
  padding-bottom: 12px;
  font-size: 20px;
  font-family: 'Noto sans', sans-serif;
}
.build-website-content p,.build-mobile-content p{
  padding-bottom: 12px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.build-website-content li,.build-mobile-content li{
  padding: 4px 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}
/* ================================================section-4================================= */

.grow-whole-content{
  /* grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr; */
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.grow-dashboard{
  display: none;
}
.grow-dashboard-mobile{
  display:flex;
  flex-direction:row;
  height: max-content;
  justify-content: center;
  border: 1px solid white;
  width: 100%;
}
.grow-dashboard-mobile li{
  text-align: center;
  width: 90%;
}
.grow-dashboard-mobile button{
  padding: 12px 8px;
  background-color: #121212;
  color: #f8f8ff;
  border: 0px;
  width: 10%;
  
}

.email-marketing, .seo,.content-marketing, .sales, .pay-per-click, .social-media-marketing, .inbound-marketing
, .search-engine-marketing{
  padding: 12px 32px;
  color: #f8f8ff;
  height: max-content;
  font-size: 16px;
  font-family: 'Noto sans', sans-serif;
  background-color: #121212;
  border: 0px;
}
/* ==============================================section-5================================== */

.increase-sales-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0px;
  text-align: center;
  margin: 0px 12px;
}
.increase-sales-container h1{
  padding-bottom:16px;
  font-size: 20px;
}
.increase-sales-container p{
  padding: 0px;
  font-size: 14px;
}

.build-button{
  font-size: 14px;
}

/* ================================================section-7=============================== */
.expand{
  flex-direction: column-reverse;
  padding: 20px 20px;
}

  /* =============================================footer====================================*/
.footer{
    padding: 10px;
}

 

    }

    @media only screen and (min-width: 601px) and (max-width: 800px){
      .expand{
        flex-direction: column-reverse;
      }
    } 

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .build{
    width:90%;
  }

  .build-mobile-img,
  .build-website-img {
    max-width: 60%;
    overflow: hidden;
  }

  .build-mobile-img img,
  .build-website-img img {
    max-width: 100%;
    object-fit: contain;
  }
  .build-website-content h1,.build-mobile-content h1{
    padding-bottom: 16px;
    font-size: 22px;
    font-family: 'Noto sans', sans-serif;
  }
  .build-website-content p,.build-mobile-content p{
    padding-bottom: 16px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .build-website-content li,.build-mobile-content li{
    padding: 4px 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
  }

  /* ================================================section-4========================================== */

  .grow-whole-content{
    /* grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr; */
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .grow-dashboard{
    display: none;
  }
  .grow-dashboard-mobile{
    display:flex;
    flex-direction:row;
    height: max-content;
    justify-content: center;
    border: 1px solid white;
    width: 100%;
  }
  .grow-dashboard-mobile li{
    text-align: center;
    width: 90%;
  }
  .grow-dashboard-mobile button{
    padding: 12px 8px;
    background-color: #121212;
    color: #f8f8ff;
    border: 0px;
    width: 10%;
    
  }
  
  .email-marketing, .seo,.content-marketing, .sales, .pay-per-click, .social-media-marketing, .inbound-marketing
  , .search-engine-marketing{
    padding: 12px 32px;
    color: #f8f8ff;
    height: max-content;
    font-size: 16px;
    font-family: 'Noto sans', sans-serif;
    background-color: #121212;
    border: 0px;
  }
  /* =============================================section-5=============================================== */

  .increase-sales-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
    text-align: center;
    margin: 0px 12px;
  }
  .increase-sales-container h1{
    padding-bottom:16px;
  }
  .increase-sales-container p{
    padding: 0px;
  }

    }

